{% extends 'base.html' %}
{% load i18n %}
{% block titulo %}{% blocktrans %}Ingrediente: {{ ingrediente.nombre}}{% endblocktrans %}{% endblock %}

{% block contenido %}
<h2>{% trans "Datos del ingrediente" %}</h2>
{% if ingrediente %}
    <ul>
        <li>
            {% blocktrans %}Ingrediente: {{ ingrediente.nombre}}{% endblocktrans %}
        </li>
        <li>
            Calorías (kcal): {{ ingrediente.calorias}}
        </li>
        <li>
            {% if pizzas %}
            {% trans "Pizzas que contienen este ingrediente: " %}
            <ol>
            {% for d in pizzas %}
                <li>
                   <a href="{% url 'detailPizza' d.id %}">{{ d.nombre}}</a>
                </li>
            {% endfor %}
            </ol>
            {% else %}
            <p>{% trans "No hay pizzas asociadas con ese ingrediente." %}</p>
            {% endif %}
        </li>
    </ul>
{% else %}
    <p>{% trans "No existe este ingrediente" %}</p>
{% endif %}

{% endblock %}